.navbar-container {
  position: relative;
  direction: rtl; /* This sets the text direction to right-to-left */
}

.navbar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  color: #fff;
}

.toggle-button {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.toggle-button .badge {
  margin-left: 0.5rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 998;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.overlay.open {
  opacity: 1;
  visibility: visible;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0; /* Move the sidebar to the right */
  width: 250px;
  height: 100%;
  background-color: #333;
  color: #fff;
  z-index: 999;
  transform: translateX(100%); /* Change translateX to move the sidebar off the right */
  transition: transform 0.3s;
}

.sidebar.open {
  transform: translateX(0);
}

.nav-item {
  padding: 1rem;
  color: #fff;
  text-align: right; /* Align text to the right */
}

.nav-item:hover {
  background-color: #444;
}

.logout {
  margin-top: auto;
}

.spacer {
  flex-grow: 1;
}
