body {
  background-color: #f8f9fa;
}

.d-flex {
  height: 100vh;
}

.form-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ced4da;
}

.btn-block {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

.btn-primary {
  background-color: #007bff;
  color: #ffffff;
}

.btn-secondary {
  background-color: #6c757d;
  color: #ffffff;
}

.btn-secondary.mt-2 {
  margin-top: 10px;
}

.form-check-label {
  margin-left: 5px;
}

.form-check-input {
  margin-right: 5px;
}

.text-center.mt-3 {
  margin-top: 20px;
}

.signatureCanvas {
  width: 100%;
  height: 150px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  margin-top: 10px;
}