.task-list {
    padding: 20px;
    right: 0;
    text-align: right;
  }
  
  .list-group-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .list-group-item label {
    flex-grow: 1;
  }
  